*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
.home .vidc video{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    height: 100%;
    width:100%;
    object-fit: cover;
}

